body{
    margin: 0
}
.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: white;
    border: 3px solid black;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    margin: auto;
    padding: 25px;
    font-size: 1rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.btn {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2rem;
    color: white;
    box-shadow: 0 0 10px #000;
    transition: box-shadow 200ms ease;
}

.btn:hover {
    box-shadow: 0 0 5px #000;
    transition: box-shadow 200ms ease;
}
.quotes-icon {
    font-size: 3rem;
    
}
h1 {
    font-size: 1.5rem;
}